* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fef8f5;
}

.header-width-modificator {
  display: flex;
  align-items: flex-start;
  width: 1120px;
  margin: 0 auto;
}

.page-header {
  margin-top: 50px;
}

.page-header .menu {
  list-style: none;
  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #ffffff;
  cursor: pointer;
}

.page-header .menu-item {
  display: inline-block;
}
.page-header .about-item {
  margin-left: 250px;
}
.page-header .how-item {
  margin-left: 97px;
}

.page-header .faqs-item {
  margin-left: 104px;
}

.page-header .active {
  position: relative;
  background-color: #ee4d47;
  border-radius: 5px;
  padding: 20px 24px 21px 24px;
  margin-left: 76px;
}

.starter {
  display: flex;
  width: 100%;
  margin-top: -109px;
  background-image: url(../traffico/img/starter-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.starter .main-width-modificator {
  width: 1120px;
  margin: 0 auto;
}

.starter .main-title {
  width: 741px;
  margin-top: 190px;
  font-family: DM Serif Display;
  font-size: 100px;
  line-height: 100%;
  color: #ffffff;
}

.starter .start-button {
  margin-top: 60px;
  background-color: #ee4d47;
  border-radius: 5px;
  width: 220px;
  height: 60px;
  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #ffffff;
  cursor: pointer;
}

.starter .start-arrow {
  margin-left: 24px;
}

.starter .anima-car {
  padding-top: 180px;
  margin-left: -240px;
}

.about-us {
  display: flex;
  width: 100%;
  height: 550px;
  margin-top: 107px;
}
.about-us .main-width-modificator {
  width: 1120px;
  margin: 0 auto;
  background-image: url(../traffico/img/about-us-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.about-us .title-about-us {
  margin-top: 74px;
  font-family: Rubik;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1.6px;
  color: #ee4d47;
}

.about-us .first-about-us {
  width: 470px;
  height: 156px;
  margin-top: 40px;
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #402b2b;
}

.about-us .block-for-second {
  width: 570px;
  height: 160px;
  margin-top: 70px;
  background: rgba(252, 221, 212, 0.4);
  border-left: 10px solid #ed4d47;
  border-radius: 5px;
}

.about-us .second-about-us {
  padding: 30px 55px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #402b2b;
}

.how-apply {
  display: flex;
  width: 100%;
  height: 550px;
  margin-top: 107px;
}

.how-apply .main-width-modificator {
  width: 1120px;
  margin: 0 auto;
  background-image: url(../traffico/img/how-to-apply-bg.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.how-apply .title-how-apply {
  margin-top: 74px;
  margin-left: 670px;
  font-family: Rubik;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1.6px;
  color: #ee4d47;
}

.how-apply .text-how-apply {
  width: 470px;
  height: 156px;
  margin-left: 670px;
  margin-top: 40px;
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #402b2b;
}
