* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fef8f5;
  font-family: Rubik;
}

.header-width-modificator {
  display: flex;
  align-items: flex-start;
  width: 1120px;
  margin: 0 auto;
}

.page-header {
  margin-top: 50px;
}

.page-header .menu {
  list-style: none;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 250px;
}

.page-header .menu-item {
  display: inline-block;
}

.page-header .how-item {
  margin-left: 97px;
}

.page-header .faqs-item {
  margin-left: 104px;
}

.page-header .active {
  position: relative;
  background-color: #ee4d47;
  border-radius: 5px;
  padding: 20px 24px 21px 24px;
  margin-left: 76px;
}

.starter {
  display: flex;
  width: 100%;
  margin-top: -109px;
  background-image: url(../traffico/img/starter-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.main-width-modificator {
  width: 1120px;
  margin: 0 auto;
}

.starter .main-title {
  width: 740px;
  margin-top: 190px;
  font-family: DM Serif Display;
  font-size: 100px;
  line-height: 100%;
  color: #ffffff;
}

.starter .start-button {
  margin-top: 60px;
  background-color: #ee4d47;
  border-radius: 5px;
  padding: 25px;
  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #ffffff;
  cursor: pointer;
}

.starter .start-arrow {
  margin-left: 24px;
}

.starter .anima-car {
  padding-top: 179px;
  margin-left: -240px;
}

.about-us .main-width-modificator {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.about-us .title-about-us {
  margin-top: 75px;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1.6px;
  color: #ee4d47;
}

.about-us .first-about-us {
  width: 470px;
  margin-top: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #402b2b;
}

.about-us .block-for-second {
  width: 570px;
  margin-top: 70px;
  background: rgba(252, 221, 212, 0.4);
  border-left: 10px solid #ed4d47;
  border-radius: 5px;
}

.about-us .second-about-us {
  padding: 30px 55px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #402b2b;
}
.about-us .about-us-bg {
  background-image: url(../traffico/img/about-us-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 530px;
  height: 455px;
}

.how-apply .main-width-modificator {
  display: flex;
  justify-content: space-between;
  margin-top: 260px;
}

.how-apply .how-apply-bg {
  background-image: url(../traffico/img/how-to-apply-bg.png);
  background-repeat: no-repeat;
  width: 507px;
  height: 432px;
}

.how-apply .title-how-apply {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1.6px;
  color: #ee4d47;
}

.how-apply .text-how-apply {
  width: 470px;
  margin-top: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #402b2b;
}

.faq {
  margin: 375px;
}

.faq .main-width-modificator {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1180px;
}
.faq .faq-top {
  display: flex;
}

.faq .faq-bgcolor {
  background-color: #fdede8;
  border-top-left-radius: 170px;
  margin-left: 190px;
  margin-top: -100px;
  height: calc(100% + 210px);
  width: 100%;
  position: absolute;
  z-index: -1;
}

.faq .title-first {
  margin-top: 135px;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1.6px;
  color: #ee4d47;
}

.faq .title-second {
  margin-top: 45px;
  font-weight: normal;
  width: 550px;
  font-family: DM Serif Display;
  font-size: 48px;
  line-height: 140%;
  color: #402b2b;
}

.faq .faq-bg-man {
  background-image: url(../traffico/img/faq-bg.png);
  background-repeat: no-repeat;
  margin-left: -80px;
  width: 710px;
  height: 500px;
}

.faq .faq-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  cursor: pointer;
}

.faq-big .faq-blocks {
  display: flex;
  flex-direction: column;
}

.faq-list {
  width: 550px;
  margin-bottom: 10px;
  background: #fff7f5;
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
}

.open {
  margin-bottom: 50px;
}

.faq-list .faq-question {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0 115px 0 35px;
}
.active-shadow {
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
}

.faq-list .faq-text {
  font-size: 18px;
  line-height: 30px;
  color: #402b2b;
}

.faq-list .faq-answer {
  display: none;
}

.faq-list .active {
  display: block;
  padding: 40px 35px 60px 35px;
}

.faq-list .faq-caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #402b2b;
}

.faq .faq-blocks-right {
  margin-left: 20px;
}

.faq .faq-load-more {
  margin-top: 13px;
  background-color: rgba(237, 77, 71, 0.2);
  border-radius: 10px;
}
.faq-load-more .faq-text {
  padding: 30px 35px 30px 219px;
  color: #ed4d47;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.8px;
}

.faq-load-more .img-load-more {
  vertical-align: middle;
  margin-left: 165px;
}
